@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); /* Ajuste o último valor (0.7) para controlar a transparência */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    transition: margin-top 0.5s ease;
    max-width : 420px;
}

/*design das letras*/
h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

/*design das caixas de texto*/
.caixa-texto {
    position: relative;
    margin-bottom: 15px;
}

.caixa-texto ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.2rem;
}
.caixa-texto input {
    width: calc(100% - 25px);
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 25px;
    color: #fff;
}
.caixa-texto label {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
    background: transparent;
}

/*design do link de criar conta*/
.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register:hover {
    color: rgb(132,14,201);
    transition: 0.3s;
}

/*design de link como botão*/
.meuBotao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 45px;
    border-radius: 60px;
    text-align: center;
    justify-content: center;
}
.meuBotao:hover {
    background-color: rgb(132,14,201);
    color: #fff;
    transition: 0.3s;
} /* Hover é usado para aplicar estilos a um elemento quando o cursor do mouse passa sobre ele.*/

